if SHIELD_COOL644az_R

config ZMK_KEYBOARD_NAME
    default "cool644az_R"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_COOL644az_L

config ZMK_KEYBOARD_NAME
    default "cool644az_L"

config ZMK_SPLIT
    default y

endif
